* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  margin-bottom: 25px;
  font-size: 20px;
}

.menu {
  background-color: #71ace3;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 20%;
}
ul {
  list-style: none;
  font-weight: bolder;
  color: white;
  font-size: 25px;
}

li {
  margin: 30px 5px;
}


span {
  color: white;
  font-size: 15px;
}

.stats-container {
  padding: 10px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
  justify-content: space-around;
}

.table-container {
  height: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td {
  width: 100px;
  height: 30px;
  border-bottom: 1px solid #ddd;
}

th {
  color: white;
  height: 40px;
}

.n {
  background-color: #71ace3;
  border-top-left-radius: 10px;
}

.temp {
  background-color: #e3718c;
}

.date {
  background-color: #f7da72;
  border-top-right-radius: 10px;
}

.graph-container {
  height: 50%;
}

a {
  text-decoration: none;
  color: white;
  text-align :center;
}
.liste a {
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
  font-family: cursive;

  
  }
.titre a {
   font-size:x-large;
  text-align:center;
  color: black;
  text-align :center;
}
.titre {
    padding:30%;
    margin-top:20%;
    text-align:center;
    align-items: center;
    justify-content: center;
}
.tempact{
    text-align: center;
    color: #20B9D8;
    font-weight: 600;
    font-style: oblique;
    font-variant: small-caps;
    font-size: x-large;
}


