<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css'%}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="filter">
        <div class="menu">
          <div class="logo">
            <img src="{% static 'images/tt.png'%}" width="30px" />
            <p>.ThermoTemp</p>
          </div>
        </div>

        <div class="main">
          <h1>Bienvenue à ThermoTemp </h1>
          <span>....</span>
          <a class="link" href="{% url 'data2'%}"/>
        </div>
      </div>
    </div>
  </body>
</html>